<p>check-first-child works!</p>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title ">Check First Child</h4>
            </div>
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            <div class="card-body">
                <div class="text-white bg-danger">{{ parent_check }} {{ child_first_not_key }}</div>
              <check-second-child [child-second] = "parent_check" (output_child)="onChange($event)"></check-second-child>

              <div class="form-group">
                <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" #abc>
                 <button type="submit" (click) = "delete(abc.value)">Submit</button>

              </div>
            </div>
          </div>
    </div>
</div>
