<p>check-second-child works!</p>
<div class="card">
    <div class="card-header">
        <h4>check-second-child </h4>
    </div>
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
        <h4 class="card-title"><div class="text-white bg-success">{{parent_check}}</div></h4>
        <p class="card-text">Text</p>
        
            <input type="text" #second>
            <button (click)= onSubmit(second.value) type="">Submit Second</button>
        
    </div>
</div>